{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="theme-color" content="#000000">

        <link rel="stylesheet" href="{% static 'builder-js/vendor/material-components-web-11.0.0.css' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>Dialog Builder</title>
        <style>
            body {
                display: flex;
                height: 100vh;
                margin: 0px;
            }

            .mdc-drawer-app-content {
                flex: auto;
                overflow: auto;
                position: relative;
            }

            .main-content {
                overflow: auto;
                height: 100%;
            }

            .app-bar {
                position: absolute;
                z-index: 10;
            }

            .mdc-top-app-bar {
                z-index: 7;
            }
            
            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body class="mdc-typography">
        <header class="mdc-top-app-bar app-bar mdc-top-app-bar--fixed" id="app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <a href="javascript:window.history.back();" class="demo-menu material-icons mdc-top-app-bar__navigation-icon">arrow_back</a>
                    <span id="dialog-name" class="mdc-top-app-bar__title">{{ dialog.name }}</span>
                    <span id="dialog-identifier" style="display: none;">{{ dialog.identifier }}</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="View Structure" aria-describedby="action_view_structure_tip" id="action_view_structure" style="margin-left: 11px;">schema</a>
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Select Card"  aria-describedby="action_select_card_tip" id="action_select_card" style="margin-left: 11px;">collections</a>
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Add Interrupt"  aria-describedby="action_add_interrupt_tip" id="action_add_interrupt" style="margin-left: 11px;">announcement</a>
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Edit Sequence"  aria-describedby="action_edit_dialog_tip" id="action_edit_dialog" style="margin-left: 11px;">edit</a>
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Save"  aria-describedby="action_save_tip" id="action_save" style="margin-left: 11px;">save</a>
                </section>
                <div id="action_view_structure_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
                    <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">View dialog structure</div>
                </div>
                <div id="action_select_card_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
                    <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">Jump to specific card</div>
                </div>
                <div id="action_add_interrupt_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
                    <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">Add interrupt</div>
                </div>
                <div id="action_edit_dialog_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
                    <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">Edit dialog settings</div>
                </div>
                <div id="action_save_tip" class="mdc-tooltip" role="tooltip" aria-hidden="true">
                    <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">Save dialog</div>
                </div>
            </div>
        </header>

        <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust"  style="background-color: #BDBDBD;">
            <main class="main-content" id="main-content">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="padding-bottom: 16px;">
                            <span class="mdc-typography--caption" id="dialog_breadcrumbs"></span>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell" style="padding-bottom: 16px;">
                            <span class="mdc-typography--subtitle2" id="sources_list">Sources</span>
                        </div>
                        <div class="mdc-layout-grid__cell" style="padding-bottom: 16px;">
                            <span class="mdc-typography--subtitle2">Current</span>
                        </div>
                        <div class="mdc-layout-grid__cell" style="padding-bottom: 16px;">
                            <span class="mdc-typography--subtitle2">Destinations</span>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell" id="builder_source_nodes" style="overflow-y: scroll; scrollbar-width: none;">
                            (Sources Here)
                        </div>
                        <div class="mdc-layout-grid__cell" id="builder_current_node" style="overflow-y: scroll; scrollbar-width: none;"></div>
                        <div class="mdc-layout-grid__cell" id="builder_next_nodes" style="overflow-y: scroll; scrollbar-width: none;">
                            (Destinations Here)
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="add-card-dialog"  aria-labelledby="add-card-dialog-title" aria-describedby="add-card-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="add-card-dialog-title">Add Card</h2>
                    <div class="mdc-dialog__content" id="add-card-dialog-content">
                        <div class="mdc-text-field mdc-text-field--outlined" id="add-card-name" style="width: 100%; margin-top: 8px;">
                            <input type="text" class="mdc-text-field__input" id="add-card-name-value">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="add-card-name-value" class="mdc-floating-label">New Card Name</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <div class="mdc-layout-grid" style="padding-left: 0; padding-right: 0; padding-bottom: 0;">
                            <div class="mdc-layout-grid__inner" id="add_card_radio_options"></div>
                        </div>                        
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="add_card">
                            <span class="mdc-button__label">Add Card</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="change-card-type-dialog"  aria-labelledby="change-card-type-dialog-title" aria-describedby="change-card-type-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="change-card-type-dialog-title">Change Card Type</h2>
                    <div class="mdc-dialog__content" id="change-card-type-dialog-content">
                        <div class="mdc-layout-grid" style="padding-left: 0; padding-right: 0; padding-bottom: 0;">
                            <div class="mdc-layout-grid__inner" id="change_card_type_options"></div>
                        </div>                        
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="change_card_type">
                            <span class="mdc-button__label">Update</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>


        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="add-sequence-dialog"  aria-labelledby="add-sequence-dialog-title" aria-describedby="add-sequence-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="add-sequence-dialog-title">Add Sequence</h2>
                    <div class="mdc-dialog__content" id="add-sequence-dialog-content">
                        <div class="mdc-text-field mdc-text-field--outlined" id="add-sequence-name"  style="width: 100%; margin-top: 8px;">
                            <input type="text" class="mdc-text-field__input" id="add-sequence-name-value">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="add-card-name-value" class="mdc-floating-label">Sequence Name</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="add_sequence">
                            <span class="mdc-button__label">Add Sequence</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="edit-sequence-dialog"  aria-labelledby="edit-sequence-dialog-title" aria-describedby="edit-sequence-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="add-sequence-dialog-title">Edit Sequence</h2>
                    <div class="mdc-dialog__content" id="add-sequence-dialog-content">
                        <div class="mdc-text-field mdc-text-field--outlined" id="edit-sequence-name" style="width: 100%; margin-top: 8px;">
                            <input type="text" class="mdc-text-field__input" id="edit-sequence-name-value">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="add-card-name-value" class="mdc-floating-label">Sequence Name</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <!-- <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="remove_sequence">
                            <span class="mdc-button__label">Remove</span>
                        </button> -->
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="update_sequence">
                            <span class="mdc-button__label">Update</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="remove-sequence-dialog"  aria-labelledby="remove-sequence-dialog-title" aria-describedby="remove-sequence-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="add-sequence-dialog-title">Remove Sequence?</h2>
                    <div class="mdc-dialog__content" id="add-sequence-dialog-content">
                        Are you sure that you want to remove the "<span id="remove-sequence-name-value">SEQUENCE</span>" sequence?
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">No</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="remove_sequence">
                            <span class="mdc-button__label">Yes</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" id="builder-dialog-setting-dialog" aria-labelledby="builder-dialog-setting-dialog-title" aria-describedby="builder-dialog-setting-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface" style="min-width: 480px; max-width: 720px;">
                    <h2 class="mdc-dialog__title" id="builder-activity-setting-dialog-title">Dialog Settings</h2>
                    <div class="mdc-dialog__content" style="padding-bottom: 16px; padding-top: 16px;">
                        <div class="mdc-layout-grid" id="builder-activity-setting-dialog-content" style="margin: 0; padding: 0;">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-text-field mdc-text-field--outlined" id="builder-dialog-setting-dialog-name">
                                    <input type="text" id="tf-outlined" class="mdc-text-field__input">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="tf-outlined" class="mdc-floating-label">Dialog Name</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-text-field mdc-text-field--outlined" id="builder-dialog-setting-dialog-identifier">
                                    <input type="text" id="tf-outlined" class="mdc-text-field__input">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="tf-outlined" class="mdc-floating-label">Identifier</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                            <span class="mdc-button__label">Close</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="builder-select-card-dialog"  aria-labelledby="builder-select-card-dialog-title" aria-describedby=builder-select-card-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="builder-select-card-dialog-title">Select Card</h2>
                    <div class="mdc-dialog__content" id="builder-select-card-dialog-content" style="padding: 0;">
                        <ul class="mdc-list mdc-list--two-line" id="select-all-cards-items"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="add-interrupt-dialog"  aria-labelledby="add-interrupt-dialog-title" aria-describedby="add-interrupt-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="add-interrupt-dialog-title">Add Interrupt</h2>
                    <div class="mdc-dialog__content mdc-layout-grid" id="add-interrupt-dialog-content">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-layout-grid__cell mdc-layout-grid__cell--span-12" id="add-interrupt-name" style="width: 100%; margin-top: 8px;">
                                <input type="text" class="mdc-text-field__input" id="add-interrupt-name-value">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="add-card-name-value" class="mdc-floating-label">Interrupt Name</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>

                            {% if 'interrupt' in card_types %}
                                <div class="mdc-form-field mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                    <div class="mdc-radio">
                                        <input class="mdc-radio__native-control" type="radio" id="interrupt-type-interrupt" name="add-interrupt-type" value='interrupt'>
                                        <div class="mdc-radio__background">
                                            <div class="mdc-radio__outer-circle"></div>
                                            <div class="mdc-radio__inner-circle"></div>
                                        </div>
                                        <div class="mdc-radio__ripple"></div>
                                    </div>
                                    <label for="interrupt-type-interrupt">Response Keyword</label>
                                </div>
                            {% endif %}
                            {% if 'time-elapsed-interrupt' in card_types %}
                                <div class="mdc-form-field mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                    <div class="mdc-radio">
                                        <input class="mdc-radio__native-control" type="radio" id="interrupt-type-time-elapsed-interrupt" name="add-interrupt-type" value='time-elapsed-interrupt'>
                                        <div class="mdc-radio__background">
                                            <div class="mdc-radio__outer-circle"></div>
                                            <div class="mdc-radio__inner-circle"></div>
                                        </div>
                                        <div class="mdc-radio__ripple"></div>
                                    </div>
                                    <label for="interrupt-type-interrupt">Time Elapsed</label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="add_interrupt">
                            <span class="mdc-button__label">Add Interrupt</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="preview-dialog"  aria-labelledby="preview-dialog-title" aria-describedby="preview-dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface" style="max-width: none;">
                    <div class="mdc-dialog__header">
                        <h2 class="mdc-dialog__title" id="preview-dialog-title" style="display: inline-block;">Structure View</h2>
                        <button class="mdc-button material-icons" style="float: right; margin-top: 12px;" data-mdc-dialog-action="close">close</button>
                    </div>
                    <div class="mdc-dialog__content" id="preview-dialog-content" style="padding: 0px;">
                        <iframe title="Structure View" id="preview-dialog-canvas" style="border-top: thin solid gray; border-bottom: thin solid gray; border-left: none; border-right: none; background-color: #eeeeee;" scrolling="no"></iframe> 
                    </div>
                </div>
            </div>
            <!-- <div class="mdc-dialog__scrim"></div> -->
        </div>


        <div class="mdc-dialog" role="alertdialog" aria-modal="true" id="outstanding-issues-dialog"  aria-labelledby="outstanding-issues-title" aria-describedby=outstanding-issues-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="outstanding-issues-title">Outstanding Dialog Issues</h2>
                    <div class="mdc-dialog__content" id="outstanding-issues-content" style="padding: 0;">
                        <ul class="mdc-list mdc-list--two-line" id="outstanding-issues-items"></ul>
                    </div>
                </div>
            </div>
        </div>


        {% csrf_token %}
    </body>
    
    <script>
        window.dialogBuilder = {
            name: "{{ dialog.name }}",
            cards: {{ card_modules_json }},
            source: "{% url 'builder_dialog_definition_json' dialog.pk %}",
            update: function(name, definition, success, failure) {
                var payload = {
                    'name': $(".mdc-top-app-bar__title").text(),
                    'identifier': $("#dialog-identifier").text(),
                    'definition': JSON.stringify(definition, 2)
                };
                
                success();                
                $.post("{% url 'builder_dialog' dialog.pk %}", payload, function(data) {
                    success();
                });
            },
            visualization: "{% url 'builder_dialog_html_view' dialog.pk %}"
        };
    </script>

    <script data-main="{% static 'builder-js/js/app/main.js' %}" src="{% static 'builder-js/vendor/require.js' %}"></script>
</html>
